body{
  background-color: #000092;
}

nav > ul > li{
    display: inline-block;
    padding-right: 2rem;
    color: aliceblue;
}

section > .item{
    display: inline;
}
img{
    width: 30%;
    display: flex;
}


