body{
  background-color: rgb(231, 213, 213);
  color: white;
}

nav {
    background-color: indigo;
}

nav ul{
    margin-right: 5rem;
}

nav > ul > li{
    display: inline-block;  
    color: aliceblue;
}

nav ul li a{
    color: white;
    background-color: rgb(59, 11, 94);
    padding-right: 4rem;
}

section > .item{
    display: inline-block;

}
img{
    width: 100%;
    display: flex;
}



